/*
class .
id #

*/



body{

    color:#F0EFF9 ;
}



/*css related to login.html*/
 #login_img_paper, #reg_img_paper{
  position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0.15;
  background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}


#login_sign_in, #reg_user {
    position: relative;
    left: 45%;
}
/* end of css login.html*/


/* profile.html */


.login_container, .register_container, .update_containter{
    position: relative;
    text-align: center;

}

.login_username, .register_user{
    position: relative;

}

.login_password, .register_pass{
    position: relative;

}

.reg_pass_check{
  position: relative;
}

.register_email{
  position: relative;
}

.login_sign_in_btn, .register_btn, .btn_update{
    position: relative;

}


#profile_img_paper{
  position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0.15;
  background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}
/* end of profile.html */



/*  location.html */
#location_img_paper{
    position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0.15;
    background-repeat: no-repeat;
	background-size: 100%;

	background-attachment: fixed;
}

#mapid {
    height: 600px;
    width: 600px;
    margin-left: 300px;
 }

#location_mapimage{
    position: absolute;
    height: 100%;
    width: 100%;
}


/* end of location.html */

/* about.html*/

.about_img{
    position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0.15;
    background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}



/* index.html (user page)*/

#index_img_paper{
    position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0.15;
    background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

#hello_friend{
    position: relative;


}

#student_course{
	position: relative;

}



/* byebye and goodbye html */
.byebye, .deletion{
  position: relative;
  text-align: center;
}
