{% extends "base.html" %}

{% block content %}


    <h2 style="color:black; font-size: 80 px; margin-left: 20px;">Introduction!</h2>
      <div class="about-section">
        <img class="about_img" src="static/img/about.png" alt="study group" width="800" height="500">
        Study Buddy is a web application that enables students to find classmates who are willing to study with them.<br>
        If you're not worried about getting rejected from a classmate who's sitting next to you for a study session,
        then this application is for you.
      </div>

{% endblock %}
