{% extends "base.html" %}

{% block content %}
    <!-- current_user is a property of flask-login -->
    <!-- this is seen after loging in -->
    <title>Studdy_buddy</title>
    <h1 id="hello_friend"> Hello {{ current_user.username }}!</h1>
<!--
    {% for post in posts %}
    <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
    {% endfor %}
-->



<!-- Here I would like to add a drop down list instead of input-->
<img id="index_img_paper" src="../static/img/paper.jpg">
<form action"{{ url_for('index' ) }}"  method="post">
<p id="student_course">
     {{ form.student_courses.label }}<br>
     {{ form.student_courses }} {{ form.submit() }}
     {% for buddy in found_buddy %}
        <li>{{ buddy.username }}, {{ buddy.student_courses }}, {{ buddy.email}} </li>
        {% endfor %}
</p>
</form>


{% endblock %}
