{% extends 'base.html' %}

{% block content %}
<img src='{{ image_file }}' width="10%" height="20%">
<h1>{{ current_user.username }} </h1>
<p> Currently studying: {{current_user.student_courses}} </p>


<p>Update Account</p>
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
        Username: {{ form.username.label }}<br>
        {{ form.username }}<br>
        {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <br>
        {{ form.picture.label() }}<br>
        {{ form.picture }}
        {% if form.picture.errors %}
          {% for error in form.picture.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
          {% endfor %}
        {% endif %}
    <p>{{ form.submit() }}</p>


{% endblock %}
